.share {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba (0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
    padding: 20px;
}

.shareTop {
    display: flex;
    align-items: center;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput {
    border: none;
    width: 80%;
}

.shareInput:focus {
    outline: none;
}

.shareHr   {
    margin: 20px;
}

.shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions {
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
}

.shareOption {
    display: flex;
    margin-right: 15px;
    align-items: center;
    cursor: pointer;
}

.shareIcon  {
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText {
    font-size: 14px;
    font-weight: thicker;
}

.shareButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    width: 100px;
}

.shareImgContainer {
    padding: 0 20px 10px 20px;
    position: relative;
}

.shareImg {
    width: 100%;
    object-fit: cover;
}

.shareCancelImg {
    top: 0;
    right: 20px;
    position: absolute;
    cursor: pointer;
    opacity: 0.8;
}