.rightbar {
    flex: 3.5;
    height: calc(100vh - 50px);
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

.rightbarTitle {
    margin-bottom: 20px;
}

.rightbarFriendList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.rightbarTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo {
    margin-bottom: 30px;

}

.rightbarInfoItem {
    margin-bottom: 10px;
}

.rightbarinfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.rightbarinfoValue {
    font-weight: 300;
}

.rightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.rightbarFollowing {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.rightbarFollowingImg {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.rightbarFollowingName {
    font-weight: 500;
    cursor: pointer;
    margin-top: 5px;
}

.rightbarFollowButton{
    height: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    background-color: #1872f2;
    color: white;
    border-radius: 5px;
    padding-left: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.rightbarFollowButton:focus{
    outline: none;
}
